<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
<body>
    <h1>Delete Task </h1></br>
    
    <form action="/deleteTask" method="POST">
        <label>Task ID:</label><br>
        <input type="number" name="del" /> </br>

        <input type="submit" value="Submit" /> </br>
    </form>
    <a href="/">Home</a>
    <a href="newtask.html">Add New Task</a> <br>
    <a href="listtasks.html">List All Tasks</a> <br>
    <a href="deleteAll">Delete All Completed Tasks</a> <br>
    <a href="updateStatus.html">Update Task Status</a> <br>
</body>
</html>