<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <img src="lab4.png">
    <h1> Add a New Task</h1>
    </br>
    <form action="/data" method="POST">
    <label>Task Name:</label>
    <input type="text" name="name"> <br>
    <label>Task Due:</label>
    <input type="text" name="dueDate"> <br>
    <label>Task Desc:</label>
    <input type="text" name="description"> <br>
    <br>
    <button>Submit</button>

    </form>

    <a href="/">Home</a>
    <a href="listtasks.html">List All Tasks</a>
</body>
</html>